<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title><%= story.title %> | <%= story.type %> | Guide+ </title>
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <meta name="keywords" content="阅读,读书,读物">
    <meta name="description" content="「Guide+」是一款全新体验的阅读工具，快速得到你感兴趣的内容。">
    <link href="/favicon.ico" type="image/x-icon" rel=icon>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="/css/story1.css" rel="stylesheet">
    <link href="/css/story2.css" rel="stylesheet">
</head>

<body>

    <div class="bs-header">
        <div class="container">
            <ul><li><a href="/"> &nbsp;&nbsp;即将推出 APP &nbsp;&nbsp; </a></li></ul>
            <div class="nav-logo">
                <a class="logo" href="/">
                    <img width="48" height="48" src="/images/logo.png" />
                </a>
                <a class="slogan" href="/">
                    Guide+
                    <span>直达你感兴趣的内容</span>
                </a>
            </div>
        </div>

    </div>


    <div class="container bs-docs-container">

        <div class="post-container">
                <div><h1 id="title"><%= story.title %></h1></div>
                <div class="meta">&nbsp;&nbsp;摘自&nbsp;<span><%= story.from %></span>
                <div class="type">&nbsp;&nbsp;被收录在&nbsp;<span><%= story.type %></span></div>
                </div>

                <div class="post-body">
                    <div id="content">
                        <div class="content_img"><img src="<%= story.image %>" /></div>
                        <%- story.content %>

                    </div>
                    <div class="post-ft">
                        <br/><br/>
                        <a href="<%= story.readLink %>">查看原文&nbsp;&nbsp;</a>
                        <span>&copy;&nbsp;版权属于原作者&nbsp;&nbsp;商业转载请联系作者</span>

                    </div>


                </div>
        </div>

    <div class="footer">
        <div class="download">
            <div class="qr">
                <h2 class="heading">分享到微信/微博</h2>
                <span class="subheading">请扫描下方二维码</span>
                <div class="qr-wrap">
                    <img src="http://s.jiathis.com/qrcode.php?url=<%= story.url %>?via=wechat_qr" alt="扫一扫分享本文到微信" width="134" height="134">
                </div>
            </div>

            <div class="copyright">
                <i>
                &#169;&nbsp;2015&nbsp;<a href="/">guideplus.me</a>
                </i>
            </div>



         <div id="sideNav">
              <a href="/" class="download">
                  <img width="34" height="34" src="/images/logo.png" />
                  去下载
              </a>

              <a href="#" id="backToTop">
                  <b class="arrow"></b>回顶部
              </a>
         </div>
    </div>


</div>

    <script src="/js/story1.js"></script>
    <script src="/js/story2.js"></script>
    <script src="/js/retina.min.js"></script>

    <script>
    Do(function(){var d=$(window),a=d.height()*1.5,c=$("#sideNav");btnBackToTop=c.find("#backToTop");function b(){if(d.scrollTop()>a){c.fadeIn(150)}else{c.hide()}}d.scroll(b);btnBackToTop.click(function(e){d.scrollTop(0);e.preventDefault()});b()});
    // 微信/微博：自定义图标 和 分享链接
    var imgUrl = "http://guideplus.me/images/logo.png";  //注意必须是绝对路径

       var lineLink = "<%= story.url %>";   //同样，必须是绝对路径
       var descContent = '发现一篇好文：<%= story.title %>'; //分享给朋友或朋友圈时的文字简介
       var shareTitle = 'Guide+';  //分享title
       var appid = ''; //apiID，可留空

       function shareFriend() {
           WeixinJSBridge.invoke('sendAppMessage',{
               "appid": appid,
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": descContent,
               "title": shareTitle
           }, function(res) {
               //_report('send_msg', res.err_msg);
           })
       }
       function shareTimeline() {
           WeixinJSBridge.invoke('shareTimeline',{
               "img_url": imgUrl,
               "img_width": "200",
               "img_height": "200",
               "link": lineLink,
               "desc": descContent,
               "title": shareTitle
           }, function(res) {
                  //_report('timeline', res.err_msg);
           });
       }
       function shareWeibo() {
           WeixinJSBridge.invoke('shareWeibo',{
               "content": descContent,
               "url": lineLink,
           }, function(res) {
               //_report('weibo', res.err_msg);
           });
       }
       // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
       document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
           // 发送给好友
           WeixinJSBridge.on('menu:share:appmessage', function(argv){
               shareFriend();
           });
           // 分享到朋友圈
           WeixinJSBridge.on('menu:share:timeline', function(argv){
               shareTimeline();
           });
           // 分享到微博
           WeixinJSBridge.on('menu:share:weibo', function(argv){
               shareWeibo();
           });
       }, false);
    </script>
</body>
    <!-- CNZZ tongji -->
    <div class="hide"><script src="http://s4.cnzz.com/stat.php?id=1254025727&web_id=1254025727" language="JavaScript"></script></div>
</html>
