<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= story.title %> | <%= story.type %> | Guide+ </title>
	<!-- Type：<%= story.type %> -->

	<!-- Adaptive Device Screen Size -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/guideplus_post_v1.0.css" type="text/css" />

</head>

<body>
<div id="site">

    <div id="read_head">

        <p class="read-from"><%= story.from %></p>
        <!-- <img src="/post/logos/< logoUrl >" alt="< logoText >" class="read-logo" /> -->

    </div>

	<div id="page">
		<h1><%= story.title %></h1>

			<p><img alt="<%= story.title %>" src="<%= story.image %>"></p><br />

			<!-- 每个段落(文本/图片)包裹在 <p></p><br /> 中 -->
			<%- story.content %>

	<br /><br />
	<div class="read-link"><a href="<%= story.readLink %>" target="_blank">查看原文 >></a></div>

	</div>

</div>

<!-- // <a id="message_a" href="http://guideplus.me/">
// 	<div id="message">
// 		<div class="message-inner">
// 			<div class="message-logo"></div>
// 			<div class="message-text">
// 				<p class="message-text-title"> Guide+ </p>
// 				<p class="message-text-inner">只有 1% 的聪明人在使用它</p>
// 			</div>
// 			<div class="message-button">立即下载</div>
// 		</div>
// 	</div>
// </a> -->

<!-- <div id="bottom">
	<div class="bottom-logo"><img src="http://static.qiniudn.com/article/ui-image/logo.png" alt="logo" /></div>
	<div class="bottom-title"><p class="bottom-text"> Guide+ 只有 1% 的聪明人在使用它</p></div>
	<div class="bottom-about"><a href="http://guideplus.me/" class="about-link">了解更多</a></div>
</div> -->

</body>

	<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/js/jquery.i18n.properties-min-1.0.9.js"></script>
	<script type="text/javascript" src="/js/retina.min.js"></script>
	<!-- <script type="text/javascript" src="http://guideplus.qiniudn.com/static/post/js/readScript-web.js"></script> -->
    <script src="http://s4.cnzz.com/stat.php?id=1254025727&web_id=1254025727" language="JavaScript"></script>

</html>
